{% extends "layout.html" %}

{% block title %} Mapa Mundi {% endblock %}

{% block content %}
    <h1>Desafio do Mapa</h1>
    <p>Agora chegou a hora de treinar um pouco o uso de imagens, paragrafos e quebras de linha</p>
    <img src="static/img/mapa03.png" alt="">
    <img src="static/img/mapa07.png" alt="">
    <img src="static/img/mapa05.png" alt="">
    <br>
    <img src="static/img/mapa09.png" alt="">
    <img src="static/img/mapa01.png" alt="">
    <img src="static/img/mapa08.png" alt="">
    <br>
    <img src="static/img/mapa06.png" alt="">
    <img src="static/img/mapa02.png" alt="">
    <img src="static/img/mapa04.png" alt="">
{% endblock %}