{% extends "layout.html" %}

{% block title %}Emojis{% endblock %}

{% block content %}
    <h1>Meus emojis favoritos</h1>
    <h2>Carinhas</h2>
    <ul>
        <li>😀Codigo U+1F600</li>
        <li>😂Codigo U+1F602</li>
        <li>🤑Codigo U+1F911</li>
    </ul>
    <h2>Maos</h2>
    <ul>
        <li>🙏Codigo U+1F64F</li>
        <li>✍️Codigo U+270D</li>
        <li>👍Codigo U+1F44D</li>
    </ul>
    <h2>Animais</h2>
    <ul>
        <li>🐍Codigo U+1F40D</li>
        <li>🐶Codigo U+1F436</li>
        <li>🐕Codigo U+1F415</li>
    </ul>
    <h2>Esportes</h2>
    <ul>
        <li>⚽Codigo U+26BD</li>
        <li>🏀Codigo U+1F3C0</li>
        <li>🥊Codigo U+1F94A</li>
    </ul>
    <h2>Comidas</h2>
    <ul>
        <li>🍔Codigo U+1F354</li>
        <li>🍕Codigo U+1F355</li>
        <li>🥓Codigo U+1F953</li>
    </ul>
    <h2>Objetos</h2>
    <ul>
        <li>🖥️Codigo U+1F5A5</li>
        <li>⌨️Codigo U+2328</li>
        <li>🖱️Codigo U+1F5B1</li>
    </ul>
{% endblock %}
